@import 'common/media.scss';
@import 'includes/config.scss';
@import 'util/util.scss';

// primary colors ####################################
// $color-base-orange
// $color-dark-orange
// $color-light-orange
// $color-background
// $color-shadow

// primary fonts #####################################
// $font-source-sans	300, 300 italic
// $font-raleway		900, 600

header {
	position: relative;

	@include extra-small {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
	}
}

//top navigation
#top-navigation {
	position: relative;
	height: 70px;
	background-color: #fff;
	z-index: 2;

	.container {
		height: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 4px;
		width: 100%;
		background-color: #fff;
		opacity: .8;
		top: 100%;
	}
}

#top-navigation-logo {
	position: relative;
	margin: 18px auto;
	height: 30px;
	background-image: url(/images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	transition: transform .7s ease-in-out;
	cursor: pointer;
}


#top-navigation-links {
	position: relative;
	height: 100%;
	transition: all .7s ease-in-out;
	box-shadow: 0px 0px 40px rgba(0,0,0,0);

	@include extra-small {
		height: auto;
	    width: 200px;
	    min-height: 100vh;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: #FFF;
	    transform: translateX(-100%);
	}

	ul {
		position: relative;
		text-align: right;
		height: 100%;

		@include extra-small {
			height: auto;
		}

		li {
			position: relative;
			display: inline-block;
			height: 100%;

			@include extra-small {
				height: 100%;
				text-align: left;
				display: block;
			}

			a {
				position: relative;
				display: inline-block;
				height: 100%;
				padding: 15px 20px;
				color: inherit;
				text-align: left;

				&:hover, &:active {
					text-decoration: none;
				}

				h4 {
					color: $color-base-orange;
					font-weight: 600;
					margin: 0px;
					font-size: 1.3em;

					@include small{
						font-size: 1.1em;
					}
				}

				h5 {
					color: $color-dark-orange;
					font-weight: 300;
					font-family: $font-source-sans;
					font-style: italic;
					margin: 0px;
					font-size: 1em;

					@include small{
						font-size: 0.85em;
					}
				}

				&:after {
					content: '';
					position: absolute;
					display: block;
					background-color: $color-base-orange;
					top: 100%;
					width: 50%;
					height: 4px;
					opacity: 0;
					transform: translateX( -50% );
					transition: all .3s ease-in-out;
				}

				&:active, &:hover {
					&:after{
						opacity: 1;
						transform: translateX( 0 );
					}
				}
			}

			&.active {
				a {
					&:after{
						opacity: 1;
						transform: translateX( 0 );
					}
				}
			}
		}
	}
}

.nav-active {
	#top-navigation-links {
		@include extra-small {
	    	transform: translateX(0);
	    	box-shadow: 0px 0px 40px rgba(0,0,0,.4);
		}
	}

	#top-navigation-logo {
		@include extra-small {
			transform: translateX(200px);
		}
	}
}

//footer
footer {
	position: relative;
	background-color: $color-base-orange;

	.container {
		padding: 15px 0;

		.row {
			width: 100%;
			margin: 0;
		}
	}
}

#footer-message {
	position: relative;
	background-color: $color-light-orange;
	padding: 15px;

	p {
		color: $color-dark-orange;
		font-size: 1em;
		padding: 10px;
		text-align: justify;
	}

	@include extra-small {
		display: none;
	}
}

#footer-logo-container {
	position: relative;
	height: 40px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#social-link-container {
	position: relative;
	margin-top: 10px;
	padding: 0 10px;
	text-align: left;
	color: #fff;
	font-size: 1.3em;

	a {

		&:hover {
			color: $color-dark-orange;
		}

		i {
			padding: 0 5px;
		}
	}

	@include extra-small {
		display: none;
	}
}

$pagination-height: 40px;
.pagination-container {
	position: relative;
	margin: 20px 0;
	ul {
		li {
			position: relative;
			display: block;
			float: right;
			height: $pagination-height;
			width: $pagination-height;
			margin-left: 1px;

			a {
				position: relative;
				display: block;
				height: 100%;
				width: 100%;
				background-color: $color-base-orange;
				line-height: $pagination-height;
				text-align: center;
				color: #fff;
			}

			&:hover {
				a {
					background-color: $color-light-orange;
				}
			}

			&.active {
				a {
					background-color: $color-dark-orange;
				}
			}
		}
	}
}

#footer-navigation {
	position: relative;

	ul {
		position: relative;

		li {
			position: relative;
			display: block;
			height: 30px;
			border-bottom: 1px solid rgba(255,255,255,.4);
			color: #fff;

			a {
				position: relative;
				display: block;
				height: 100%;
				width: 100%;
				font-size: 1.15em;
				line-height: 30px;
				padding: 0 10px;

				&:hover {
					text-decoration: none;
					background-color: $color-light-orange;
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	@include extra-small {
		display: none;
	}
}

#footer-contact {
	position: relative;
	color: #fff;

	address {
		position: relative;
		color: #fff;
		$font-family: $font-source-sans;
		font-style: italic;
	}

	@include extra-small {
		display: none;
	}
}

#footer-copyright {
	position: relative;
	color: #fff;
	background-color: $color-dark-orange;
	text-align: center;
	padding: 10px;
}

//################################

#main-content-container {
	position: relative;
	min-height: 100vh;

	@include extra-small {
		margin-top: 50px;
	}
}

// top slider
#top-slider {
	position: relative;
	height: 600px;
	width: 100%;
	background-color: $color-light-orange;

	.flex-viewport {
		ul.slides {
			li {
				.slider-content {
					position: absolute;
					top: 50%;
					transform: translateY( -50% );
					left: 0;
					right: 0;
					margin: 0 auto;
					padding: 50px;

					h2 {
						font-size: 5em;
						text-transform: uppercase;
						font-weight: 900;
						color: #fff;
						line-height: .8em;
						margin: 0;
						padding:0 30px 0 15px;

						@include medium {
							font-size: 3em;
						}
					}

					p {
						color: #fff;
						font-weight: 300;
						padding:0 15px 0 30px;
						font-size: 1em;
					}

					&:before {
						content: '';
						position: absolute;
						display: block;
						width: 1px;
						height: 100%;
						left: 50%;
						top: 0px;
						opacity: .6;
						background-color: #fff;

						@include small {
							display: none;
						}
					}
				}

				&:before {
					    content: '';
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(100,100,100,.5);
						box-shadow: inset 0 0 200px rgba(0,0,0,.5);
						opacity: 0;
						transition: opacity .4s linear;
				}

				&.flex-active-slide {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}

	&.mini-slider {
		height: 300px;

		.flex-viewport {
			ul.slides {
				li {
					.slider-content {
						h2 {
							font-size: 3em;
						}
					}
				}
			}
		}
	}

	.flex-control-nav {
		bottom: 10px;
	}

	.flex-direction-nav {

		a {
			width: 70px;
			height: 70px;
			opacity: .5;

			&:before, &:after {
			    font-family: $font-source-sans;
			    font-weight: 300;
			    border-radius: 50%;
			    height: 100%;
			    width: 100%;
			    color: #fff;
			    border: 2px solid #fff;
			    line-height: 70px;
			    text-align: center;
			}

			&.flex-prev:before {
				content: '<';
			}

			&.flex-next:before {
				content: '>';
			}

			@include small {
				width: 50px;
				height: 50px;

				&:before, &:after {
					font-size: 40px;
					line-height: 50px;
				}			
			}
		}

		.flex-prev {
			left: 20px;
		}

		.flex-next {
			right: 20px;
		}
	}

	&:hover {
		.flex-direction-nav {
			a {
				opacity: .9;
			}
		}

		.flex-prev {
			left: 20px;
		}

		.flex-next {
			right: 20px;
		}
	}
}

#page-title {
	position: relative;
	background-color: $color-base-orange;

	h1 {
		position: relative;
		color: #fff;
		margin: 0;
		padding: 5px 10px 5px 20px;
	}
}

//home intro

#home-intro {
	position: relative;
	width: 100%;

	@include extra-small{
		.row.full-height-row {
		    display: block;

		    > [class*="col-"] {
		    	float: left;
				display: block;
				vertical-align: top;
		    }
		}
	}
}

#intro-feature-wrapper {
	padding: 0;
	background-color: #fff;
}

#intro-feature {
	position: relative;
	margin-top: -60px;
	padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 30px;

    > ul {
    	> li {
			.partner-logo {

			}
    	}
    }

    @include extra-small{
		margin-top: 0px;
	}
}

#intro-services-wrapper {
	padding-right: 30px;
}

#intro-services {
	position: relative;
	width: 100%;
	padding-bottom: 30px;

	h1 {

	}

	@include extra-small{
		ul > li > p {
			text-align: center;
		}	
	}
}

#home-testimonials {
	position: relative;
	height: 400px;
	width: 100%;
	overflow: hidden;

	.container, .row {
		height: 100%;
	}
}

#testimonial-slider {
	position: relative;
	height: 100%;
	background-color: transparent;

	p {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		text-align: center;
		color: #fff;
		font-size: 1.4em;
		padding: 0 80px;

		&:before, &:after {
			font-family: FontAwesome;
			position: absolute;
			display: block;
			height: 60px;
			width: 60px;
			font-size: 3em;
			opacity: .5;
		}

		&:before {
			content: "\f10d";
			top: 0;
			left: 0;
		}

		&:after {
			content: "\f10e";
			right: 0;
			bottom: 0;
		}
	}

	.flex-control-nav {
		bottom: 10px;
		z-index: 2;
	}
}


// home news section
#home-news {

	#featured-article {
		padding: 15px;
		background-color: #fff;

		h2 {
			font-size: 2.2em;
			margin-bottom: 0;
		}

		.article-date {
			font-family: $font-source-sans;
			font-weight: 300;
			font-style: italic;
			color: $color-dark-orange;
		}

		.article-summary {
			margin-bottom: 30px;
		}

		.featured-image {
			position: relative;
			height: 300px;
			width: 100%;

			.background-overlay-link {
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: rgba(100,100,100,.5);
				box-shadow: inset 0 0 200px rgba(0,0,0,.5);
				opacity: 1;
				transition: all .4s linear;

				a {
					position: absolute;
					display: block;
					top: 50%;
					transform: translateY(-50%);
					margin: 0 auto;
					left: 0;
					right: 0;
					width: 50px;
					height: 50px;
					opacity: .4;
				}
			}

			&:hover {
				.background-overlay-link {
					background-color: rgba(100,100,100,.1);

					a {
						opacity: 1;
					}
				}
			}
		}
	}

	#news-list {
		background-color: $color-light-orange;

		h1 {
			background-color: #fff;
			color: $color-base-orange;
			padding: 0 10px;

			@include extra-small {
				margin-top: 0;
			}
		}

		ul {
			position: relative;
			padding: 10px;

			li {
				position: relative;
				border-bottom: 1px solid rgba(255,255,255,.4);
				margin-top: 20px;

				h3 {
					margin: 0;

					a {
						color: #fff;
					    margin: 0;
					    text-transform: uppercase;	
					    text-decoration: none;

					    &:visited {
					    	color: #fff;
					    }

					    &:hover {
					    	color: $color-dark-orange;
					    }
					}			
				}

				.article-date {
					font-family: $font-source-sans;
					font-weight: 300;
					font-style: italic;
					color: #fff;
				}

				p {
					color: $color-dark-orange;
				}
			}
		}
	}
}



//####################### content pages #########################//

#content-sub-navigation {
	position: relative;
	padding: 15px;

	h3 {
		text-transform: uppercase;
	}

	ul {
		position: relative;
		background-color: #fff;
		padding: 15px 0px;

		li {
			position: relative;
			width: 100%;
			height: 25px;
			background-color: $color-light-orange;
			margin-top: 2px;
			color: #fff;

			&:first-child {
				margin-top: 0px;
			}

			&:hover {
				background-color: $color-base-orange;
			}

			a {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				padding: 0px 10px;
				line-height: 25px;

				&:before {
					content: '+';
					margin-right: 15px;
				}
			}

			&.active {
				background-color: $color-dark-orange;

				a {
					&:before {
						content: '-';
					}
				}
			}
		}
	}
}

#content-display-area {
	position: relative;
	margin-top: -50px;
	background-color: #fff;
	padding: 20px 40px;
	border-bottom: 50px solid #fff;

	@include extra-small {
		margin-top: 0px;
	}

	article {
		font-family: $font-source-sans;

		b {
			color: $color-dark-orange;
		}

		blockquote {
			padding: 20px;
			border-left: 4px solid $color-background;
		}

		ul {
			margin: initial;
			padding: initial;
			margin-left: 40px;

			li {
				list-style-type: initial;
				padding: initial;
			}
		}

		img {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			border: 10px solid #e4e4d0;
			margin: 20px auto;
		}

		img + p.image-caption {
			position: relative;
			margin-top: -15px;
			margin-bottom: 20px;
			text-align: center;
			padding: 0 40px;
			font-size: .8em;
			font-style: italic;
		}

		.in-page-banner {
			position: relative;
			width: 100%;
			box-sizing: content-box;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin: 20px 0px 20px -40px;
			padding: 50px 40px 20px 40px;
			font-size: .8em;

			* {
				position: relative;
			}

			.inner-banner-container {
				position: relative;
				width: 100%;
				height: auto;
				padding: 0 30px;
			}

			&.background-overlay {
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(100,100,100,.5);
					box-shadow: inset 0 0 200px rgba(0,0,0,.5);
				}

				color: #fff !important;
			}
		}

		.highlight {
			background-color: $color-base-orange;
			padding: 0px auto;

			&.highlight-white {
				background-color: #fff;
				color: $color-base-orange !important;
			}
		}

	}
}

#news-list-area {
	position: relative;

	> ul {
		position: relative;
		padding: 25px 0px;

		> li {
			position: relative;
			margin-top: 10px;


			> article {
				position: relative;
				display: block;
				padding: 10px 20px;
				padding-bottom: 20px;
				background-color: #fff;

				h2 {
					margin-bottom: 0px;

					a {
						text-decoration: none;
					}
				}

				.news-date {
					position: relative;
					color: $color-light-orange;
					font-size: .86em;
					font-style: italic;
					margin-bottom: 15px;
				}

				a.news-readmore {
					position: relative;
					display: block;
					max-width: 75px;
					height: 25px;
					line-height: 25px;
					margin-top: 15px;
					border: none;
					background-color: #FFBC3A;
					color: #fff;
					text-align: center;
					text-decoration: none;
					background-color: $color-base-orange;
						

					&:hover {
						background-color: $color-light-orange;
					}

					&:active {
						background-color: $color-dark-orange;
					}

				}


			}
		}
	}
}

#course-list-area {
	position: relative;

	ul {
		li.course-item {
			position: relative;
			padding-top: 10px;

			.course-item-container {
				position: relative;
				background-color: #fff;
				
				.institute-logo-wrapper{
					position: relative;
					height: 70px;
					padding: 10px;
					width: 100%;

					.institute-logo {
						position: relative;
						height: 100%;
						width: 100%;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				.course-name {
					position: relative;
					color: $color-dark-orange;
					font-size: 1.14em;
					font-family: $font-source-sans;
					padding: 10px 10px 0px 10px;
				}

				.institute-name {
					position: relative;
					font-size: .94em;
					font-family: $font-source-sans;
					font-style: italic;
					color: $color-base-orange;
					padding: 0 10px 15px 10px;
				}

				.background-overlay-link {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					background-color: rgba(100,100,100,.5);
					box-shadow: inset 0 0 200px rgba(0,0,0,.5);
					opacity: 0;
					transition: all .2s linear;
					z-index: 0;

					a {
						position: absolute;
						display: block;
						top: 50%;
						transform: translateY(-50%);
						margin: 0 auto;
						left: 0;
						right: 0;
						width: 50px;
						height: 50px;
						color: $color-base-orange;

						:hover {
							color: $color-light-orange;
						}
					}
				}

				&:hover {
					.background-overlay-link {
						z-index: 1;
						opacity: 1;
					}
				}

			}
		}
	}
}

#content-sub-contacts {

	@include extra-small {
		text-align: center;
	}
}

#form-container {
	label {
		font-family: $font-source-sans;
		font-weight: 300;
		color: $color-base-orange;
	}

	input, textarea {
		&:focus {
			border-color: $color-dark-orange;
		}
	}

	#contact-form-submit {
		position: relative;
		display: block;
		width: 70px;
		padding: 5px 10px;
		background-color: $color-base-orange;
		color: #fff;
		border: none;
		border-bottom: 2px solid $color-dark-orange;
		margin-top: 15px;
		float: right;

		&:hover {
			background-color: $color-light-orange;
		}

		&:active {
			background-color: $color-light-orange;
			border-bottom: 0px;
			margin-top: 17px;
		}

		&:focus {
			outline: none;
			background-color: $color-light-orange;
			border-bottom: 0px;
			margin-top: 17px;
		}
	}
}

#map-canvas {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: $color-light-orange;
	overflow: hidden;

	&:after, &:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 50px;
		box-shadow: 0px 0px 20px rgba(0,0,0,.4);
		z-index: 2;
		left: 0px;
	}

	&:before {
		bottom: 100%;
	}

	&:after {
		top: 100%;
	}
}