* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #FFBC3A; }
  h1.highlight, h2.highlight, h3.highlight, h4.highlight, h5.highlight, h6.highlight {
    color: #fff;
    background-color: #FFBC3A;
    padding: 0 10px; }

h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: italic; }

h1 {
  text-transform: uppercase; }

body {
  padding: 0px;
  margin: 0px;
  background-color: #f9f9f2; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    padding: 0;
    list-style-type: none; }

p {
  text-indent: 2em;
  font-size: 1.15em;
  margin: 10px 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit;
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

article a {
  color: #FFBC3A;
  text-decoration: underline; }
  article a:hover {
    color: #7F6B43; }
  article a:visited {
    color: #FFBC3A; }

.row.full-height-row {
  display: table; }
  .row.full-height-row > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; }
  @media (max-width: 768px) {
    .row.full-height-row {
      display: block; }
      .row.full-height-row > [class*="col-"] {
        float: none;
        display: block;
        vertical-align: top; } }

.flexslider.flexslider-background-image {
  position: relative;
  border: none;
  margin: 0; }
  .flexslider.flexslider-background-image .flex-viewport {
    height: 100%; }
  .flexslider.flexslider-background-image ul.slides {
    position: relative;
    height: 100%; }
    .flexslider.flexslider-background-image ul.slides > li {
      position: relative;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

ul.icon-list li {
  margin-top: 15px;
  position: relative;
  text-align: justify; }
  ul.icon-list li i {
    position: relative;
    display: block;
    font-size: 35px;
    height: 40px;
    width: 40px;
    margin: 10px auto; }
  ul.icon-list li h4 {
    position: relative;
    margin: 0;
    text-align: center; }
  ul.icon-list li p {
    position: relative;
    margin: 0;
    text-indent: 0px; }

ul.icon-list.image-list li {
  position: relative; }
  ul.icon-list.image-list li .image {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin: 5px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .background-image.background-overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5); }
  .background-image.background-fixed {
    background-attachment: fixed; }

.input-group {
  position: relative;
  display: table;
  width: 100%;
  height: 25px;
  box-sizing: border-box; }
  .input-group label {
    position: relative;
    display: table-cell;
    width: 1%;
    height: 100%;
    min-width: 100px;
    line-height: 25px;
    vertical-align: top;
    box-sizing: border-box; }
  .input-group input, .input-group textarea {
    position: relative;
    display: table-cell;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #ccc; }
    .input-group input:focus, .input-group textarea:focus {
      outline: none; }
  .input-group input {
    line-height: 25px;
    height: 100%; }
  .input-group textarea {
    resize: vertical; }

header {
  position: relative; }
  @media (max-width: 768px) {
    header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10; } }

#top-navigation {
  position: relative;
  height: 70px;
  background-color: #fff;
  z-index: 2; }
  #top-navigation .container {
    height: 100%; }
  #top-navigation:before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    opacity: .8;
    top: 100%; }

#top-navigation-logo {
  position: relative;
  margin: 18px auto;
  height: 30px;
  background-image: url(/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
          transition: transform 0.7s ease-in-out;
  cursor: pointer; }

#top-navigation-links {
  position: relative;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
  box-shadow: 0px 0px 40px transparent; }
  @media (max-width: 768px) {
    #top-navigation-links {
      height: auto;
      width: 200px;
      min-height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #FFF;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); } }
  #top-navigation-links ul {
    position: relative;
    text-align: right;
    height: 100%; }
    @media (max-width: 768px) {
      #top-navigation-links ul {
        height: auto; } }
    #top-navigation-links ul li {
      position: relative;
      display: inline-block;
      height: 100%; }
      @media (max-width: 768px) {
        #top-navigation-links ul li {
          height: 100%;
          text-align: left;
          display: block; } }
      #top-navigation-links ul li a {
        position: relative;
        display: inline-block;
        height: 100%;
        padding: 15px 20px;
        color: inherit;
        text-align: left; }
        #top-navigation-links ul li a:hover, #top-navigation-links ul li a:active {
          text-decoration: none; }
        #top-navigation-links ul li a h4 {
          color: #FFBC3A;
          font-weight: 600;
          margin: 0px;
          font-size: 1.3em; }
          @media (max-width: 992px) {
            #top-navigation-links ul li a h4 {
              font-size: 1.1em; } }
        #top-navigation-links ul li a h5 {
          color: #7F6B43;
          font-weight: 300;
          font-family: "Source Sans Pro", sans-serif;
          font-style: italic;
          margin: 0px;
          font-size: 1em; }
          @media (max-width: 992px) {
            #top-navigation-links ul li a h5 {
              font-size: 0.85em; } }
        #top-navigation-links ul li a:after {
          content: '';
          position: absolute;
          display: block;
          background-color: #FFBC3A;
          top: 100%;
          width: 50%;
          height: 4px;
          opacity: 0;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          -webkit-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out; }
        #top-navigation-links ul li a:active:after, #top-navigation-links ul li a:hover:after {
          opacity: 1;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); }
      #top-navigation-links ul li.active a:after {
        opacity: 1;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }

@media (max-width: 768px) {
  .nav-active #top-navigation-links {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4); } }

@media (max-width: 768px) {
  .nav-active #top-navigation-logo {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px); } }

footer {
  position: relative;
  background-color: #FFBC3A; }
  footer .container {
    padding: 15px 0; }
    footer .container .row {
      width: 100%;
      margin: 0; }

#footer-message {
  position: relative;
  background-color: #FFD686;
  padding: 15px; }
  #footer-message p {
    color: #7F6B43;
    font-size: 1em;
    padding: 10px;
    text-align: justify; }
  @media (max-width: 768px) {
    #footer-message {
      display: none; } }

#footer-logo-container {
  position: relative;
  height: 40px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#social-link-container {
  position: relative;
  margin-top: 10px;
  padding: 0 10px;
  text-align: left;
  color: #fff;
  font-size: 1.3em; }
  #social-link-container a:hover {
    color: #7F6B43; }
  #social-link-container a i {
    padding: 0 5px; }
  @media (max-width: 768px) {
    #social-link-container {
      display: none; } }

.pagination-container {
  position: relative;
  margin: 20px 0; }
  .pagination-container ul li {
    position: relative;
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    margin-left: 1px; }
    .pagination-container ul li a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background-color: #FFBC3A;
      line-height: 40px;
      text-align: center;
      color: #fff; }
    .pagination-container ul li:hover a {
      background-color: #FFD686; }
    .pagination-container ul li.active a {
      background-color: #7F6B43; }

#footer-navigation {
  position: relative; }
  #footer-navigation ul {
    position: relative; }
    #footer-navigation ul li {
      position: relative;
      display: block;
      height: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      color: #fff; }
      #footer-navigation ul li a {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1.15em;
        line-height: 30px;
        padding: 0 10px; }
        #footer-navigation ul li a:hover {
          text-decoration: none;
          background-color: #FFD686; }
      #footer-navigation ul li:last-child {
        border-bottom: none; }
  @media (max-width: 768px) {
    #footer-navigation {
      display: none; } }

#footer-contact {
  position: relative;
  color: #fff; }
  #footer-contact address {
    position: relative;
    color: #fff;
    font-style: italic; }
  @media (max-width: 768px) {
    #footer-contact {
      display: none; } }

#footer-copyright {
  position: relative;
  color: #fff;
  background-color: #7F6B43;
  text-align: center;
  padding: 10px; }

#main-content-container {
  position: relative;
  min-height: 100vh; }
  @media (max-width: 768px) {
    #main-content-container {
      margin-top: 50px; } }

#top-slider {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #FFD686; }
  #top-slider .flex-viewport ul.slides li .slider-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 50px; }
    #top-slider .flex-viewport ul.slides li .slider-content h2 {
      font-size: 5em;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      line-height: .8em;
      margin: 0;
      padding: 0 30px 0 15px; }
      @media (max-width: 1200px) {
        #top-slider .flex-viewport ul.slides li .slider-content h2 {
          font-size: 3em; } }
    #top-slider .flex-viewport ul.slides li .slider-content p {
      color: #fff;
      font-weight: 300;
      padding: 0 15px 0 30px;
      font-size: 1em; }
    #top-slider .flex-viewport ul.slides li .slider-content:before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0px;
      opacity: .6;
      background-color: #fff; }
      @media (max-width: 992px) {
        #top-slider .flex-viewport ul.slides li .slider-content:before {
          display: none; } }
  #top-slider .flex-viewport ul.slides li:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
            transition: opacity 0.4s linear; }
  #top-slider .flex-viewport ul.slides li.flex-active-slide:before {
    opacity: 1; }
  #top-slider.mini-slider {
    height: 300px; }
    #top-slider.mini-slider .flex-viewport ul.slides li .slider-content h2 {
      font-size: 3em; }
  #top-slider .flex-control-nav {
    bottom: 10px; }
  #top-slider .flex-direction-nav a {
    width: 70px;
    height: 70px;
    opacity: .5; }
    #top-slider .flex-direction-nav a:before, #top-slider .flex-direction-nav a:after {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      color: #fff;
      border: 2px solid #fff;
      line-height: 70px;
      text-align: center; }
    #top-slider .flex-direction-nav a.flex-prev:before {
      content: '<'; }
    #top-slider .flex-direction-nav a.flex-next:before {
      content: '>'; }
    @media (max-width: 992px) {
      #top-slider .flex-direction-nav a {
        width: 50px;
        height: 50px; }
        #top-slider .flex-direction-nav a:before, #top-slider .flex-direction-nav a:after {
          font-size: 40px;
          line-height: 50px; } }
  #top-slider .flex-direction-nav .flex-prev {
    left: 20px; }
  #top-slider .flex-direction-nav .flex-next {
    right: 20px; }
  #top-slider:hover .flex-direction-nav a {
    opacity: .9; }
  #top-slider:hover .flex-prev {
    left: 20px; }
  #top-slider:hover .flex-next {
    right: 20px; }

#page-title {
  position: relative;
  background-color: #FFBC3A; }
  #page-title h1 {
    position: relative;
    color: #fff;
    margin: 0;
    padding: 5px 10px 5px 20px; }

#home-intro {
  position: relative;
  width: 100%; }
  @media (max-width: 768px) {
    #home-intro .row.full-height-row {
      display: block; }
      #home-intro .row.full-height-row > [class*="col-"] {
        float: left;
        display: block;
        vertical-align: top; } }

#intro-feature-wrapper {
  padding: 0;
  background-color: #fff; }

#intro-feature {
  position: relative;
  margin-top: -60px;
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    #intro-feature {
      margin-top: 0px; } }

#intro-services-wrapper {
  padding-right: 30px; }

#intro-services {
  position: relative;
  width: 100%;
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    #intro-services ul > li > p {
      text-align: center; } }

#home-testimonials {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden; }
  #home-testimonials .container, #home-testimonials .row {
    height: 100%; }

#testimonial-slider {
  position: relative;
  height: 100%;
  background-color: transparent; }
  #testimonial-slider p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    padding: 0 80px; }
    #testimonial-slider p:before, #testimonial-slider p:after {
      font-family: FontAwesome;
      position: absolute;
      display: block;
      height: 60px;
      width: 60px;
      font-size: 3em;
      opacity: .5; }
    #testimonial-slider p:before {
      content: "\f10d";
      top: 0;
      left: 0; }
    #testimonial-slider p:after {
      content: "\f10e";
      right: 0;
      bottom: 0; }
  #testimonial-slider .flex-control-nav {
    bottom: 10px;
    z-index: 2; }

#home-news #featured-article {
  padding: 15px;
  background-color: #fff; }
  #home-news #featured-article h2 {
    font-size: 2.2em;
    margin-bottom: 0; }
  #home-news #featured-article .article-date {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #7F6B43; }
  #home-news #featured-article .article-summary {
    margin-bottom: 30px; }
  #home-news #featured-article .featured-image {
    position: relative;
    height: 300px;
    width: 100%; }
    #home-news #featured-article .featured-image .background-overlay-link {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(100, 100, 100, 0.5);
      box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
      opacity: 1;
      -webkit-transition: all 0.4s linear;
              transition: all 0.4s linear; }
      #home-news #featured-article .featured-image .background-overlay-link a {
        position: absolute;
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50px;
        height: 50px;
        opacity: .4; }
    #home-news #featured-article .featured-image:hover .background-overlay-link {
      background-color: rgba(100, 100, 100, 0.1); }
      #home-news #featured-article .featured-image:hover .background-overlay-link a {
        opacity: 1; }

#home-news #news-list {
  background-color: #FFD686; }
  #home-news #news-list h1 {
    background-color: #fff;
    color: #FFBC3A;
    padding: 0 10px; }
    @media (max-width: 768px) {
      #home-news #news-list h1 {
        margin-top: 0; } }
  #home-news #news-list ul {
    position: relative;
    padding: 10px; }
    #home-news #news-list ul li {
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      margin-top: 20px; }
      #home-news #news-list ul li h3 {
        margin: 0; }
        #home-news #news-list ul li h3 a {
          color: #fff;
          margin: 0;
          text-transform: uppercase;
          text-decoration: none; }
          #home-news #news-list ul li h3 a:visited {
            color: #fff; }
          #home-news #news-list ul li h3 a:hover {
            color: #7F6B43; }
      #home-news #news-list ul li .article-date {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #fff; }
      #home-news #news-list ul li p {
        color: #7F6B43; }

#content-sub-navigation {
  position: relative;
  padding: 15px; }
  #content-sub-navigation h3 {
    text-transform: uppercase; }
  #content-sub-navigation ul {
    position: relative;
    background-color: #fff;
    padding: 15px 0px; }
    #content-sub-navigation ul li {
      position: relative;
      width: 100%;
      height: 25px;
      background-color: #FFD686;
      margin-top: 2px;
      color: #fff; }
      #content-sub-navigation ul li:first-child {
        margin-top: 0px; }
      #content-sub-navigation ul li:hover {
        background-color: #FFBC3A; }
      #content-sub-navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        line-height: 25px; }
        #content-sub-navigation ul li a:before {
          content: '+';
          margin-right: 15px; }
      #content-sub-navigation ul li.active {
        background-color: #7F6B43; }
        #content-sub-navigation ul li.active a:before {
          content: '-'; }

#content-display-area {
  position: relative;
  margin-top: -50px;
  background-color: #fff;
  padding: 20px 40px;
  border-bottom: 50px solid #fff; }
  @media (max-width: 768px) {
    #content-display-area {
      margin-top: 0px; } }
  #content-display-area article {
    font-family: "Source Sans Pro", sans-serif; }
    #content-display-area article b {
      color: #7F6B43; }
    #content-display-area article blockquote {
      padding: 20px;
      border-left: 4px solid #f9f9f2; }
    #content-display-area article ul {
      margin: initial;
      padding: initial;
      margin-left: 40px; }
      #content-display-area article ul li {
        list-style-type: initial;
        padding: initial; }
    #content-display-area article img {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      border: 10px solid #e4e4d0;
      margin: 20px auto; }
    #content-display-area article img + p.image-caption {
      position: relative;
      margin-top: -15px;
      margin-bottom: 20px;
      text-align: center;
      padding: 0 40px;
      font-size: .8em;
      font-style: italic; }
    #content-display-area article .in-page-banner {
      position: relative;
      width: 100%;
      box-sizing: content-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 20px 0px 20px -40px;
      padding: 50px 40px 20px 40px;
      font-size: .8em; }
      #content-display-area article .in-page-banner * {
        position: relative; }
      #content-display-area article .in-page-banner .inner-banner-container {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 30px; }
      #content-display-area article .in-page-banner.background-overlay {
        color: #fff !important; }
        #content-display-area article .in-page-banner.background-overlay:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(100, 100, 100, 0.5);
          box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5); }
    #content-display-area article .highlight {
      background-color: #FFBC3A;
      padding: 0px auto; }
      #content-display-area article .highlight.highlight-white {
        background-color: #fff;
        color: #FFBC3A !important; }

#news-list-area {
  position: relative; }
  #news-list-area > ul {
    position: relative;
    padding: 25px 0px; }
    #news-list-area > ul > li {
      position: relative;
      margin-top: 10px; }
      #news-list-area > ul > li > article {
        position: relative;
        display: block;
        padding: 10px 20px;
        padding-bottom: 20px;
        background-color: #fff; }
        #news-list-area > ul > li > article h2 {
          margin-bottom: 0px; }
          #news-list-area > ul > li > article h2 a {
            text-decoration: none; }
        #news-list-area > ul > li > article .news-date {
          position: relative;
          color: #FFD686;
          font-size: .86em;
          font-style: italic;
          margin-bottom: 15px; }
        #news-list-area > ul > li > article a.news-readmore {
          position: relative;
          display: block;
          max-width: 75px;
          height: 25px;
          line-height: 25px;
          margin-top: 15px;
          border: none;
          background-color: #FFBC3A;
          color: #fff;
          text-align: center;
          text-decoration: none;
          background-color: #FFBC3A; }
          #news-list-area > ul > li > article a.news-readmore:hover {
            background-color: #FFD686; }
          #news-list-area > ul > li > article a.news-readmore:active {
            background-color: #7F6B43; }

#course-list-area {
  position: relative; }
  #course-list-area ul li.course-item {
    position: relative;
    padding-top: 10px; }
    #course-list-area ul li.course-item .course-item-container {
      position: relative;
      background-color: #fff; }
      #course-list-area ul li.course-item .course-item-container .institute-logo-wrapper {
        position: relative;
        height: 70px;
        padding: 10px;
        width: 100%; }
        #course-list-area ul li.course-item .course-item-container .institute-logo-wrapper .institute-logo {
          position: relative;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat; }
      #course-list-area ul li.course-item .course-item-container .course-name {
        position: relative;
        color: #7F6B43;
        font-size: 1.14em;
        font-family: "Source Sans Pro", sans-serif;
        padding: 10px 10px 0px 10px; }
      #course-list-area ul li.course-item .course-item-container .institute-name {
        position: relative;
        font-size: .94em;
        font-family: "Source Sans Pro", sans-serif;
        font-style: italic;
        color: #FFBC3A;
        padding: 0 10px 15px 10px; }
      #course-list-area ul li.course-item .course-item-container .background-overlay-link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(100, 100, 100, 0.5);
        box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5);
        opacity: 0;
        -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
        z-index: 0; }
        #course-list-area ul li.course-item .course-item-container .background-overlay-link a {
          position: absolute;
          display: block;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 50px;
          height: 50px;
          color: #FFBC3A; }
          #course-list-area ul li.course-item .course-item-container .background-overlay-link a :hover {
            color: #FFD686; }
      #course-list-area ul li.course-item .course-item-container:hover .background-overlay-link {
        z-index: 1;
        opacity: 1; }

@media (max-width: 768px) {
  #content-sub-contacts {
    text-align: center; } }

#form-container label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #FFBC3A; }

#form-container input:focus, #form-container textarea:focus {
  border-color: #7F6B43; }

#form-container #contact-form-submit {
  position: relative;
  display: block;
  width: 70px;
  padding: 5px 10px;
  background-color: #FFBC3A;
  color: #fff;
  border: none;
  border-bottom: 2px solid #7F6B43;
  margin-top: 15px;
  float: right; }
  #form-container #contact-form-submit:hover {
    background-color: #FFD686; }
  #form-container #contact-form-submit:active {
    background-color: #FFD686;
    border-bottom: 0px;
    margin-top: 17px; }
  #form-container #contact-form-submit:focus {
    outline: none;
    background-color: #FFD686;
    border-bottom: 0px;
    margin-top: 17px; }

#map-canvas {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #FFD686;
  overflow: hidden; }
  #map-canvas:after, #map-canvas:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    left: 0px; }
  #map-canvas:before {
    bottom: 100%; }
  #map-canvas:after {
    top: 100%; }
