$medium-width: 1200px;
$small-width: 992px;
$extra-small: 768px;
$super-small: 540px;

@mixin medium{
	@media ( max-width: #{$medium-width} ){
		@content;
	}
}

@mixin small{
	@media ( max-width: #{$small-width} ){
		@content;
	}
}

@mixin extra-small{
	@media ( max-width: #{$extra-small} ){
		@content;
	}
}

@mixin super-small{
	@media ( max-width: #{$super-small} ){
		@content;
	}
}