$color-base-orange: #FFBC3A;
$color-dark-orange: #7F6B43;
$color-light-orange: #FFD686;
$color-background:   #f9f9f2;
$color-shadow: #e4e4d0;

$font-source-sans: 'Source Sans Pro', sans-serif;	// 300, 300 italic
$font-raleway: 'Raleway', sans-serif;	// 900, 600

* {
	box-sizing: border-box;
	font-family: $font-source-sans;
	font-weight: 300;
}

h1, h2, h3, h4, h5,h6 {
	font-family: $font-raleway;
	color: $color-base-orange;

	&.highlight {
		color: #fff;
		background-color: $color-base-orange;
		padding: 0 10px;
	}
}

h4, h5, h6 {
	font-family: $font-source-sans;
	font-weight: italic;
}

h1 {
	text-transform: uppercase;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: $color-background;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		list-style-type: none;
	}
}

p {
	text-indent: 2em;
	font-size: 1.15em;
	margin: 10px 0;
}

a {
	color: inherit;
	text-decoration: none;

	&:visited {
		color: inherit;
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

article a{
	color: $color-base-orange;
	text-decoration: underline;

	&:hover {
		color: $color-dark-orange;
	}

	&:visited {
		color: $color-base-orange;
	}
}

.row.full-height-row {
    display: table;

    > [class*="col-"] {
    	float: none;
		display: table-cell;
		vertical-align: top;
    }

    @include extra-small{
	    display: block;

	    > [class*="col-"] {
	    	float: none;
			display: block;
			vertical-align: top;
	    }
	}
}

