.background-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&.background-overlay {
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(100,100,100,.5);
			box-shadow: inset 0 0 200px rgba(0,0,0,.5);
		}
	}

	&.background-fixed {
		background-attachment: fixed;
	}
}