.flexslider.flexslider-background-image {
	position: relative;
	border: none;
    margin: 0;

	.flex-viewport {
		height: 100%;
	}

    ul.slides {
    	position: relative;
    	height: 100%;

    	> li {
    		position: relative;
    		height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
    	}
    }
}