$icon-size: 40px;
$image-height: 50px;

ul.icon-list {

	li {
		margin-top: 15px;
		position: relative;
		text-align: justify;

		i {
			position: relative;
			display: block;
			font-size: $icon-size - 5px;
			height: $icon-size;
			width: $icon-size;
			margin: 10px auto;
		}

		h4 {
			position: relative;
			margin: 0;
			text-align: center;
		}

		p {
			position: relative;
			margin: 0;
			text-indent: 0px;
		}
	}
}

ul.icon-list.image-list {

	li {
		position: relative;

		.image {
			position: relative;
			display: block;
			width: 100%;
			height: $image-height;
			margin: 5px auto;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}