$input-group-height: 25px;
$label-min-width: 100px;

.input-group {
	position: relative;
	display: table;
	width: 100%;
	height: $input-group-height;
	box-sizing: border-box;

	label {
		position: relative;
		display: table-cell;
		width: 1%;
		height: 100%;
		min-width: $label-min-width;
		line-height: $input-group-height;
		vertical-align: top;
		box-sizing: border-box;
	}

	input, textarea {
		position: relative;
		display: table-cell;
		width: 100%;
		vertical-align: top;
		box-sizing: border-box;
		padding: 5px 10px;
		border: 1px solid #ccc;

		&:focus {
			outline: none;
		}
	}

	input {
		line-height: $input-group-height;
		height: 100%;
	}

	textarea {
		resize: vertical;
	}


}